body {
    font-size: 14px;
}
div,
p,
button,
form,
input,
span,
a,
ul,
li,
h2 {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h1 {
    color: red;
    margin: 25px 0;
    font-size: 30px;
}
h2 {
    color: white;
    background-color: green;
    font-size: 20px;
    margin: 20px 0;
    padding: 5px 0;
}
span {
    color: red;
}
a {
    color: blue;
}
img {
    width: 150px;
}
.homeex {
    color: white;
    background-color: blue;
    width: 100px;
    height: 70px;
    margin-bottom: 80px;
}
.titlesecsection {
    height: 110px;
    padding: 40px 0 0 50px;
}
.textsecsection {
    padding-left: 100px;
}
.prelist {
    margin-bottom: 20px;
}
.list li {
    border: 1px solid;
    font-size: 28px;
}
